// *----------------------------------*\
//  Settings > Colors
// *----------------------------------*/

// Colors
$color-brand: #00A0FF;
$color-white: #FFFFFF;
$color-text:  #323232;
$color-gray:  #2B5F72;

// Background Colors
$bg-color-white: $color-white;
$bg-color-dark:  #222228;
$bg-color-gray:  #FAFAFA;

// Border
$color-border: #E9EFF3;

// Links
$color-link:        $color-text;
$color-link-hover:  $color-brand;

// SDG Colors
$sdg-1-color:  #E5243B;
$sdg-2-color:  #DDa63a;
$sdg-3-color:  #4c9f38;
$sdg-4-color:  #c5192D;
$sdg-5-color:  #ff3a21;
$sdg-6-color:  #26BDE2;
$sdg-7-color:  #fcc30B;
$sdg-8-color:  #a21942;
$sdg-9-color:  #fD6925;
$sdg-10-color: #DD1367;
$sdg-11-color: #fD9D24;
$sdg-12-color: #Bf8B2E;
$sdg-13-color: #3f7E44;
$sdg-14-color: #0a97D9;
$sdg-15-color: #56c02B;
$sdg-16-color: #00689D;
$sdg-17-color: #19486a;
$sdg-colors:  $sdg-1-color,
              $sdg-2-color,
              $sdg-3-color,
              $sdg-4-color,
              $sdg-5-color,
              $sdg-6-color,
              $sdg-7-color,
              $sdg-8-color,
              $sdg-9-color,
              $sdg-10-color,
              $sdg-11-color,
              $sdg-12-color,
              $sdg-13-color,
              $sdg-14-color,
              $sdg-15-color,
              $sdg-16-color,
              $sdg-17-color;
