/*------------------------------------*\
  Components > Spacing
\*------------------------------------*/

.c-spacing {
  &-1 {
    height: 8px;
  }

  &-2 {
    height: 16px;
  }

  &-3 {
    height: 24px;
  }
}
