<!DOCTYPE html>
<html lang='en'>

{% include head.html %}

<body>
  {% comment not needed %}
    {% include analytics.html %}
  {% endcomment %}

  <div class='js-off-canvas-container c-off-canvas-container'>
    {% include color-bar.html %}

    {% comment not needed %}
      {% include header.html %}
    {% endcomment %}

    {{ content }}

    {% comment %}
      {% include footer.html %}
    {% endcomment %}

    {% include color-bar.html %}
  </div>

  {% comment not needed %}
    <script src="{{ '/js/jquery-3.1.1.min.js' | prepend: site.baseurl }}"> </script>
    <script src="{{ '/js/evil-icons.min.js' | prepend: site.baseurl }}">   </script>
    <script src="{{ '/js/jquery.fitvids.js' | prepend: site.baseurl }}">   </script>
    <script src="{{ '/js/app.js' | prepend: site.baseurl }}">              </script>
  {% endcomment %}
</body>

</html>
